.modal-dialog
  - debuger;
  form#modal-form.modal-content
    .modal-header
      button.button-dismiss.close(type='button' aria-hidden='true') &times
      h4.modal-title
        | #{title}
    .modal-body
    .modal-footer
      button.button-dismiss.btn.btn-default(type='button') Cancel
      button.button-submit.btn.btn-primary(type='submit') OK
