.form-group
  label.control-label(for="login") Choose a login name
  input.input-sm#login.form-control(type="text", placeholder="Login", name='login')
.form-group
  label.control-label(for="email") Enter email address
  input.input-sm#email.form-control(type="text", placeholder="Email", name='email')
.form-group
  label.control-label(for="first-name") Enter first name
  input.input-sm#first-name.form-control(type="text", placeholder="First name", name='firstName')
.form-group
  label.control-label(for="last-name") Enter last name
  input.input-sm#last-name.form-control(type="text", placeholder="Last name", name='lastName')
.form-group
  label.control-label(for="password") Choose a password
  input.input-sm#password.form-control(type="password", placeholder="Password", name='password')
.form-group
  label.control-label(for="password2") Retype password
  input.input-sm#password2.form-control(type="password", placeholder="Password", name='password2')
.g-validation-failed-message
