.form-group
  label.control-label(for='username') Login or E-Mail
  input.form-control#username(type='text')
.form-group
  label.control-label(for='password') Password
  input.form-control#password(type='password')
