@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-theme.css";
@import "~nprogress/nprogress.css";

$brand-danger = #d9534f

html,
body,
.application {
  position: relative;
  height: 100%;
  width: 100%;
}
